body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.navbar {
    width: 100%;
    background-color: #5296d5;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 80px;
    display: flex;
    justify-content: left;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #0056b3;
}

.container {
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    padding: 50px 150px 100px;
}

h1 {
    margin-bottom: 10px;
}

.avatar-container {
    display: inline-block;
    margin-bottom: 20px;
    padding-top: 30px;
}

#avatar {
    border: 5px solid #000000;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.controls .button-group {
    display: flex;
    gap: 10px;
}

.controls button, #upload {
    margin: 5px;
    padding: 10px 20px;
    background-color: #5296d5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#upload {
    margin-top: 20px;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls input[type="file"] {
    margin: 20px 0;
}

.controls label {
    margin: 20px 0 5px;

}

.controls input[type="range"],
.controls input[type="color"] {
    display: block;
    margin: 0 auto 10px auto;
}

.controls label {
    display: block;
    margin-bottom: 12px;
}

@media (min-width: 1000px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .controls .button-group {
        flex-direction: column;
        gap: 5px;
    }

    .navbar ul {
        padding-left: 20px;
        justify-content: center;
    }
}
